/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-nov-2016, 19.36.17
    Author     : jellyfish adv
*/
/* Style Index

    1     Import
    2     Varibili
    3     Mixins
    4     Stili Comuni   
    5     Pagine
    6     Loader
*/
 
/* ------------------------------------------------------------------------- *
 *  1. Import
/* ------------------------------------------------------------------------- */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700';
@import url(Avenir-Book.css);
@import url(Avenir-Light.css);
/* ------------------------------------------------------------------------- *
 *  2. Variabili
/* ------------------------------------------------------------------------- */
@nero:#282828;   
@verde:rgb(147,211,0);
@grigio:rgb(215,215,215);
@mediumgrigio:#949393;
@darkgrigio:rgb(65,65,65);
@lightgrigio:#f3f3f3;
@darkblu:#243D4B;
@bluscuro:#203742;
@blu:#42667b;
@azzurro:rgb(21,173,204);
@rosso:#BA1C0F;
@oro: #BCAB7F;
@bronzo: #A29F9F;
@cacca: #725F4F;


@primary-font: 'Avenir-Book', sans-serif;
@secondary-font: 'Avenir-Light', sans-serif;
@other-font: 'Open Sans', sans-serif;

@default-font-size:14px;
@default-font-weight:300;
@default-line-height:18px;
@mobile-xsm:   ~"only screen and (max-width : 400px)";
@mobile-sm:   ~"only screen and (max-width : 480px)";
@mobile:      ~"only screen and (max-width: 767px)";  
@tablet:      ~"only screen and (max-width: 991px)";
@desktop:     ~"only screen and (max-width: 1199px)";

/* ------------------------------------------------------------------------- *
 *  3. Mixins
/* ------------------------------------------------------------------------- */
.ColoraBg(@color){
   background-color: @color; 
};

.FontDefault(){
    font-family: @primary-font;
    font-size: @default-font-size;
    font-weight: @default-font-weight;
    line-height: @default-line-height;
}
.BoxShadow(@x: 0, @y: 0, @blur: 1px, @spread: 0, @color: #000) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}
.RoundBorders (@radius: 5px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}
.BackgroundCover(@url,  @h-pos, @w-pos) {
	background-image: url(@url);
	background-position: @h-pos @w-pos;
	-moz-background-size: cover;
        -webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.Transition (@prop, @time, @ease) {
    -webkit-transition: @prop @time @ease;
       -moz-transition: @prop @time @ease;
        -ms-transition: @prop @time @ease;
         -o-transition: @prop @time @ease;
            transition: @prop @time @ease;
}
.Blur(@px){
    -webkit-filter: blur(@px);
    -moz-filter: blur(@px);
    -o-filter: blur(@px);
    -ms-filter: blur(@px);
    filter: blur(@px);
}
.Gradiente(@deg,@dacolore,@acolore){
    background-image: -webkit-linear-gradient(@deg, @dacolore, @acolore);
    background-image: -moz-linear-gradient(@deg, @dacolore, @acolore);
    background-image: -ms-linear-gradient(@deg, @dacolore, @acolore);
    background-image: -o-linear-gradient(@deg, @dacolore,@acolore);
    background-image: linear-gradient(@deg, @dacolore, @acolore);
}
.FontAwesome(@icon){
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: @icon;
}
/* ------------------------------------------------------------------------- *
 *  4. Stili comuni
/* ------------------------------------------------------------------------- */

//common style
html{
     height: 100%;
}
body{
   .FontDefault(); 
   background: @darkblu!important;
    
    color:@darkgrigio;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}  
h1{
    color:@darkgrigio;
    font-size: 24px;
    margin-bottom: 20px;
}
h2{
    margin-top: 10px;
    color:@darkgrigio;
    font-size: 20px;
}
ol, ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
    &:focus{
        text-decoration: none;
    }
}
strong{
	font-weight: 700;
	font-weight: bold;
}
select {
    -webkit-appearance: listbox;
}
.table {
    display: table;
    margin: 0;
   
} 
.cell {
    display: table-cell;
    vertical-align: bottom;
    float: none;
    @media @mobile{
        display:block;
    }
}
.hidden-xxs{
    @media @mobile-sm{
        display:none;
    }
}
.back-to-app{
        i{
            margin-right: 7px;
        }
        font-family: @primary-font;
        color:@verde!important;
        text-transform: uppercase;
    }
#topbar{
    background-color: @darkblu;
    color:#fff;        
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    top:0;    
    @media @mobile{
        padding: 0 15px;
    }
    
    a{
        color:#fff;
    }
    #user-thumbnail{
        margin: 10px;
    }
    #user-nome{
        font-family: @secondary-font;
        margin-right: 50px;
        text-transform: uppercase;
        
    }
    .menu-btn{
        font-size: 24px;
    }
}
#container{
    @media @tablet{
        padding-top: 50px;
    }
    min-height: calc(~"100% - 55px");
    .webapp{
        background-color: #fff;
        min-height: calc(~"100vh");
        position: relative;
    }
}
.pushy{
    font-family:@secondary-font;
    background: @darkblu!important;
    color:#fff;
    text-align:left;
    &.desk{
        position: absolute;
        top:0;
        width: 100%;
        height: calc(~"100vh");

       #menu_header{
        height: calc(~"30vh");
         min-height: 280px;
       }
    }
    #menu_header{
        height: calc(~"30vh + 50px");
        min-height: 330px;
        padding: 30px;
        padding-top:125px;
        @media @mobile-sm{
            min-height: 250px;
            padding-top:100px;
        }
        .welcome{
            margin: 30px 15px;
        }
    }
    a.blu{
        color:@blu;
        &:hover{
            color:@blu;
        }
    }
    ul{
        text-transform:uppercase;
        font-size:15px;
        li{
            &:first-child{
                border-top: 1px solid @blu;
            }
            border-bottom: 1px solid @blu;
            a{
                color:#fff;
                .Transition(all ,0.3s ,ease-out); 
                &:hover{
                    color:#fff;
                    background-color: @bluscuro;
                }
            }
            ul{
                padding-left: 0px;
                text-transform:capitalize;
                li{
                    
                    border: none;
                }
            }
            .active a{
                background-color: @bluscuro;
            }
            
        }
        
    }
    
}
.nopadding{
    padding-left: 0;
    padding-right: 0;
}
.footer{
    padding: 50px 15px 8px;
    color:#fff;
    font-size: 12px;
}
.banner{
    height: 30vh;
    min-height: 280px;
    .BackgroundCover("../images/dashboard_winter.jpg",top,right);
     @media @mobile{
          display:none;
       // .BackgroundCover("../images/dashboard_winter_mobile.jpg",top,left); 
        
    }
    @media @mobile-sm{
        display:none;
/*        .BackgroundCover("../images/dashboard_winter_mobile.jpg",top,left); 
        height: 30vh;
        min-height:200px;*/
    }
}
.promo-message{
    padding: 10px 30px;
}
.btn-azzurro{
    background-color: @azzurro;
    color:#fff;
    font-family: @other-font;
    font-weight: 500;
    padding:7px 20px;
    margin:5px 0;
    font-size:14px;
    text-transform: uppercase;
    border-radius:5px;
    .Transition(all,.45s,ease);
    &:hover{
        background-color: @azzurro!important;
        color:#fff;
    }
}
.btn-verde{
    background-color: @verde;
    color:#fff;
    font-family: @other-font;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius:0px;
    width:100%;
    max-width: 360px;
    margin: 0 auto;
    .Transition(all,.45s,ease);
    &:hover{
        background-color: @verde!important;
        opacity: 0.8;
        color:#fff;
    }
}
/* ------------------------------------------------------------------------- *
 *  5. Page
/* ------------------------------------------------------------------------- */  
#device{
    padding:0px 30px 30px; 
    .col-xs-6{
        @media @mobile-sm{
            width:100%;
        }
    }
    .thumbnail{
        padding: 0px;
        border-radius: 0px;
        img{
            width: 100%;
            height: auto;
        }
        .caption{
            padding: 15px;
            h3{
                text-transform: uppercase;
            }
            p{
                &.rosso{
                    color:@rosso;
                } 
                font-family: @other-font;
                font-size: 12px;
                b{
                    font-weight: 600;
                }
                i{
                    margin-left: 10px;
                    margin-right: 5px;
                    font-size:16px;
                    color:@mediumgrigio;
                    &.verde{
                        color:@verde;
                    }  
                    &.rosso{
                        color:@rosso;
                    }  
                }   
            }
        }
    }
}
#intro{
    p{
        
    }
    padding:0px 30px 30px;
}
.pprice{
    //background-color: #eee;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 0px;
    p{
        margin-bottom: 0px;
        line-height: 26px;
    }
}
#talkbubble {
   width:auto;
   height: 26px;
   background: #81b902;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 35px;
   position: relative;
   -moz-border-radius:    0px;
   -webkit-border-radius: 0px;
   border-radius:         0px;
   color:#fff;
  // font-weight: bold;
   font-size:16px;
   line-height: 26px;
   padding-left: 6px;
   padding-right: 6px;
}
#talkbubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 0px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 12px solid #81b902;
   border-bottom: 13px solid transparent;
}
#tagli-pacchetti{
    padding:0px 30px 30px;
    margin-bottom:60px;
    @media @mobile{
        margin-bottom:30px;
    }
    .taglio{
        overflow-y: hidden;
        padding:15px 15px 0;
        border:3px solid;
        margin-bottom:30px;
        .fa-info-circle{
            @media @mobile-sm{
                display:none;
            }
        }
        h2{
            font-size:24px;
            font-weight: bold;
        }
        .currency, .pricelist{
            font-size:18px;
            font-weight: bold;
          
        }
        .durata{
            font-size: 18px;
        }
        p{
           
        }
        ul{
            padding:20px;
            padding-right:0px;
            li{
                padding-bottom:10px;
                &:before{
                   .FontAwesome('\f058');
                   color:@verde;
                   margin-left: -20px;
                   margin-right: 10px;
                }
            }
        }
        .btn{
            color:#fff;
            text-transform: uppercase;
            margin-left: -15px;
            margin-right: -15px;
            width: calc(~"100% + 30px");
            border-radius: 0px;
            padding-top: 15px;
            padding-bottom: 10px;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1px;
            border: 8px solid #fff;
        }
        &.premium{
            background-image: url('../images/bestsellerdx.png');
            background-position: top right;
            background-repeat: no-repeat;
            background-size: 50%;
            border-color: @oro;
            @media @mobile-sm{
                background-size: 60%;
            }
            h2{
                color: @oro;
            }
            .btn{
                background-color: @oro;
                color:#fff;
                &:hover{
                    text-decoration: none;
                    opacity: 0.8;
                }
            }
            a{
                i{
                    font-size: 11px;
                    padding-left: 5px;
                }
                color: @nero;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        &.ultimate{
            border-color: @bronzo;
            h2{
                color: @bronzo;
            }
            .btn{
                background-color: @bronzo;
                color:#fff;
                &:hover{
                    text-decoration: none;
                    opacity: 0.8;
                }
            }
            a{
                i{
                    font-size: 11px;
                    padding-left: 5px;
                }
                color: @nero;
                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        &.basic{
            border-color: @cacca;
            h2{
                color: @cacca;
            }
            .btn{
                background-color: @cacca;  
                color:#fff;
                &:hover{
                    text-decoration: none;
                    opacity: 0.8;
                }
            }
            a{
                i{
                    font-size: 11px;
                    padding-left: 5px;
                }
                color: @nero;
                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        #loader{
            width: 100%;
            margin-bottom: 15px;
        }
        .scopridipiu{
            .apriscopri{
                margin-top: 15px;
                margin-left: -25px;
                display:block;
            }
            .collapsed{
                display:none;
                padding-bottom: 25px;
            }
        }
    }
}
#pacchetti{
    overflow: hidden;
    padding:0px 30px 0px;
    margin-bottom:60px;
    .row{
        text-align: center;
        margin-left: 0;
        margin-right: 0;     
        &.head{
            margin-top:0px;
            .text-left{
                
                min-height: 90px;
                @media @mobile{
                    padding: 0;
                    min-height: 0px;
                    text-align:center;
                }
                
            }
            h2{
                margin-top: 40px;
                @media @mobile-sm{
                    font-size:14px;
                    text-align:left;
                }
                &.active{
                    color:@verde;
                }
            }
            .shadow{
                position: relative;
                background-image: url('../images/best.png');
                background-repeat: no-repeat;
                background-position: calc(~"100% - 12px") 0;
                @media @mobile{
                    background-position:center top;
                }
                .sfuma{
                    position: absolute;
                    margin-left: -15px;
                    width: calc(~"100% + 30px");
                    min-height: 800px;
                    background-image: url('../images/sfuma.png');
                    background-size:100% 100%;
                    top:0px;
                    left:0px;
                    @media @mobile{
                        background:none;
                    }
                }
            }
        }
        .text-left{
                @media @mobile{
                    text-align:center;
                    
                }
            }
        > div{
           padding-top:15px;
            padding-bottom:15px; 
        }
        .shadow{
            background: transparent;
        }
        i{
            color:@verde;
        }
        &.even{
            background-color: @lightgrigio;
        }
    }
}
.compra-pacchetto{
        padding-top:15px;
        padding-bottom:15px;
            #frequenza-fatturazione{
                line-height: 40px;
                height: 40px;
                padding-left: 10px;
                padding-right: 10px;
                
            }
        }
#elenco-kippy, #account{
    padding-left:30px;
    padding-right:30px;
    padding-bottom:15px;
    .kippy-abbinato{
        
        &.noborder{
            border: 3px solid @lightgrigio!important;
        }
        .collapsible{
            display: none;
        }
        margin-bottom: 30px;
        background-color:@lightgrigio;
        padding: 25px 15px 15px;
        border: 3px solid @grigio;
        &.attivo{
            border: 3px solid @verde;
        }
        &.scaduto{
            background-color:transparent;
            color:@mediumgrigio;
        }
        .animal{
        width: auto;   
        line-height: 35px;
        font-weight: 300;
        text-transform: uppercase; 
        margin:0;
        font-size: 25px;
        }
        p{
            &.rosso{
                color:@rosso;
            } 
            font-family: @other-font;
            font-size: 12px;
            b{
                font-weight: 600;
            }
            i{
                margin-left: 10px;
                margin-right: 5px;
                font-size:16px;
                color:@mediumgrigio;
                &.verde{
                    color:@verde;
                }  
                &.rosso{
                    color:@rosso;
                }  
            }
            
        }
        .update-plan , .update-payment , .update-email{
            text-transform: uppercase;
            font-family: @other-font;
            font-size: 12px;
            line-height: 35px;
            font-weight: 600;
            color:@azzurro;
        }
        .remove-kippy{
            text-transform: uppercase;
            font-family: @other-font;
            font-size: 12px;
            line-height: 35px;
            font-weight: 600;
            color:@mediumgrigio;
        }
        .text-right{
            @media @mobile{
                text-align:left;
            }
        }
        .email{
            margin-top: 15px;
            padding-top: 15px;
            border-top:1px solid @grigio;
            #indirizzo-email{
                line-height: 38px;
                height: 38px;
                margin-bottom: 4px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .frequenza{
            margin-top: 15px;
            padding-top: 15px;
            border-top:1px solid @grigio; 
            #frequenza-fatturazione{
                line-height: 40px;
                height: 40px;
                padding-left: 10px;
                padding-right: 10px;
                
            }
        }
        .pagamento{
            margin-top: 15px;
            padding-top: 15px;
            border-top:1px solid @grigio; 
            img{
                margin-top: 15px;
                margin-bottom: 10px;
            }
        }
    }
    
}
#elenco-fatture{
    padding-left:30px;
    padding-right:30px;
    .table-responsive{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .fatture-footer{
        padding-bottom: 30px;
        a{
            color:@darkgrigio;
            background-color:transparent ; 
        }
    }
}
#checkout{
    margin-left: 15px;
    margin-right: 30px;
    padding-left:15px;
    padding-bottom:50px;
    .compli{
        margin-top: 0px;
        margin-bottom: 15px;
    }
    h2{
            text-transform: uppercase;
            color:@nero;
        }
    .purchase_summary{
        padding-right:15px;
        .pacchetto{
            text-transform: uppercase;
            background-color: @darkblu;
            color:#fff;
            padding:20px;
            h1{
                color:#fff;
                margin:10px 0 0;
            }
            h2{
                color:#fff;
            }
            h3{
                margin: 0;
                font-size: 14px;
            }
        }
        .dettagli{
           padding: 20px; 
           background-color: @lightgrigio;
           ul{ 
               li{ 
                   padding-bottom: 10px;
                   padding-left:22px;
                   position:relative;
                   &:before{
                       .FontAwesome('\f00c');
                       color:@verde;
                       position:absolute;
                       left: 0px;
                   }
               }
           }
        }
        .riepilogo-dati{
           padding: 20px; 
           background-color: @lightgrigio;
           label{
               color:@mediumgrigio;
               font-weight: normal;
               margin-bottom: 0px;
           }
           p{
               margin-bottom: 5px;
           }
           
        }
        #open-update-dati{
            text-transform: uppercase;
            font-family: @other-font;
            font-size: 12px;
            line-height: 35px;
            font-weight: 600;
            color:@azzurro;
        }
    }
    .paymethod{
        @media @mobile{
            padding-right:15px;
        }
    }
    .panel-group{
        margin-bottom:0px;
        .panel{
            border-radius:0px;
            margin-bottom:0px;
            &.panel-default {
                border-color: transparent;
            }
            .panel-heading{
                padding:0px;
                .loghini{
                    background-color: @darkblu;
                   padding-left: 60px;
                    padding-right: 15px;
                    padding-bottom: 15px;
                }
                a[aria-expanded="false"]{
                    i{
                        margin-right: 15px;
                        &.fa-square{
                            display:none;
                        }
                        &.fa-square-o{
                            display:inline-block;
                        }
                    }
                }
                i{
                    margin-right: 15px;
                    &.fa-square{
                        display:inline-block;
                    }
                    &.fa-square-o{
                        display:none;
                    }
                }
                img{
                    display: inline-block;
                    margin-top: 5px;
                }
            }
            .panel-collapse{
                .pay_now_adyen{
                    margin-left: 45px;
                    margin-right: 15px;
                }
            }
        }
        
    }
    .paybox{
        //border:3px solid @grigio;
        //min-height: 180px;
        background-color: @lightgrigio;
        margin-bottom:30px;
        h3{
            margin: 0;
            padding: 10px 25px;
            font-size: 22px;
            background-color: @darkblu;
            color:#fff;
            @media @mobile-sm{
                font-size: 18px;
            }
        }
        .padd{
            padding:5px 25px;
            &.paypp{
                padding:25px;
            }
            p{
                color:@darkgrigio;
                margin-bottom: 20px;
            }
        }
        .m-100{
            @media @mobile-xsm{
                width:100%;
            }
        }
        .visible-xxs{
            display: none;
            @media @mobile-xsm{
                display:block;
            }
        }
    }
}
#site-login{
    padding-left: 30px;
    padding-right: 30px;
}
/* ------------------------------------------------------------------------- *
 *  6. loader
/* ------------------------------------------------------------------------- */
#loader{
    height: 40px;
    position: relative;
    width: 160px;
    float: right;
    @media @mobile{
        float:left;
        height:50px;
    }
}
.loader{
    margin-top: 15px;
    height: 40px;
    position: relative;
    width: 100%;
    
    @media @mobile{
        margin-top: 0px;
        height:50px;
    }
}
.sk-fading-circle { 
  margin: 0px auto;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0px;
  left:calc(~'50% - 30px');
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: @verde;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}