@font-face {
  font-family: 'Avenir-Light';
  src: url('../fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'), 
      url('../fonts/Avenir-Light.woff') format('woff'), 
      url('../fonts/Avenir-Light.ttf')  format('truetype'), 
      url('../fonts/Avenir-Light.svg#Avenir-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
