/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #243D4B;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.paypal {

    background-color: #243D4B;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 5px;

}

.paypal img {

    float: right;
    background: #fff;
    padding: 3px;

}



.accordion img {

    float: right;
    background: #fff;
    padding: 3px;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    /*background-color: #ccc;*/
    opacity: 0.7;
}

.active, .paypal:hover {
    /*background-color: #ccc;*/
    opacity: 0.7;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    background-color: #f3f3f3;
    padding-bottom: 10px;
}

/* CANCEL SERVICE PACKAGE STYLE*/

.cancel-title {

    color: #71a924;
    text-transform: uppercase;
    font-size: 16px;

}

.first-center {


    padding-bottom: 100px;
}

.second-center {

    padding-bottom: 50px;
    width: 100%;

}


.third-center {

    text-align: center;
    padding-bottom: 20px;
    background: #71a924;
    color: #fff;
    padding-top: 10px;


}

.third-center h3 {

    color: #fff;
    font-weight: bold;

}

.third-center p {

    color: #fff;
    font-size: 16px;
    font-weight: bold;
}



#big-green-button {

    background: #74b027;
    color: #32373b;
    border: none;
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
    border-radius: 25px;
}





#big-green-button:hover {

    background: #fff;
    border: 2px solid #74b027;
}

.box-small-4{


    padding-top: 30px;
    padding-bottom: 60px;
}

.wrapper {

    text-align: center;
}

.wrapper button {

    color: #fff !important;
    font-size: 16px !important;
}



#big-gray-button {

    /*// background: #fff;*/
    color: #32373b !important;
    border: 2px solid #32373b;
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
    border-radius: 25px;
    background: #fff;

}

#big-gray-button:hover {

    color: #595959;
    opacity: 0.7;
}

.wrapper button:hover {

    color: #3a3939 !important;
}

.white-button {

   margin-top: 20px;
    background-color: #fff;
    border-color: #ccc;
    color: #333;
    box-shadow: 0 2px 2px 0;


}

.white-button:hover {

    background-color: darkred;
}



.form-check-label {

    font-size: 16px;
    font-family: 'Avenir-Book',sans-serif;
    color:  #444;

}


.user-info {

    font-family: 'Avenir-Book',sans-serif;
    line-height: 18px;
    width: 100%;
    background-color: #f3f3f3;
    color: #414141;
    font-weight: 300;
    font-size: 14px;
    margin-top: 20px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;

}


/*Responsive custom style for checkout-payment */











